<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.mapper.T_teacherMapper" >
  <resultMap id="BaseResultMap" type="com.test.model.T_teacher" >
    <id column="tno" property="tno" jdbcType="VARCHAR" />
    <result column="tpsd" property="tpsd" jdbcType="VARCHAR" />
    <result column="tname" property="tname" jdbcType="VARCHAR" />
    <result column="tphone" property="tphone" jdbcType="VARCHAR" />
    <result column="tqq" property="tqq" jdbcType="VARCHAR" />
    <result column="tprofession" property="tprofession" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap id="TeacherResultMap" type="com.test.model.T_teacher">
    <collection property="studentList" ofType="com.test.model.T_student" column="sno">
      <id column="sno" property="sno" jdbcType="VARCHAR" />
      <result column="cno" property="cno" jdbcType="VARCHAR" />
      <result column="spsd" property="spsd" jdbcType="VARCHAR" />
      <result column="sname" property="sname" jdbcType="VARCHAR" />
      <result column="sphone" property="sphone" jdbcType="VARCHAR" />
      <result column="qq" property="qq" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tno, tpsd, tname, tphone, tqq, tprofession
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.test.model.T_teacherExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_teacher
    where tno = #{tno,jdbcType=VARCHAR}
  </select>
  
  <select id="queryAllTeacherInfo"  resultType="com.test.model.T_teacher">
    select * from t_teacher
  </select>
  <select id="queryTeacher_StudentByTno" resultMap="TeacherResultMap" parameterType="java.lang.String">
    select t.*,s.*
    from t_ts
    left join t_teacher t
    on t.tno = t_ts.tno
    left join  t_student s
    on s.sno = t_ts.sno
    where t.tno=#{tno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_teacher
    where tno = #{tno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.test.model.T_teacherExample" >
    delete from t_teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.test.model.T_teacher" >
    insert into t_teacher (tno, tpsd, tname, 
      tphone, tqq, tprofession
      )
    values (#{tno,jdbcType=VARCHAR}, #{tpsd,jdbcType=VARCHAR}, #{tname,jdbcType=VARCHAR}, 
      #{tphone,jdbcType=VARCHAR}, #{tqq,jdbcType=VARCHAR}, #{tprofession,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.model.T_teacher" >
    insert into t_teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tno != null" >
        tno,
      </if>
      <if test="tpsd != null" >
        tpsd,
      </if>
      <if test="tname != null" >
        tname,
      </if>
      <if test="tphone != null" >
        tphone,
      </if>
      <if test="tqq != null" >
        tqq,
      </if>
      <if test="tprofession != null" >
        tprofession,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tno != null" >
        #{tno,jdbcType=VARCHAR},
      </if>
      <if test="tpsd != null" >
        #{tpsd,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tphone != null" >
        #{tphone,jdbcType=VARCHAR},
      </if>
      <if test="tqq != null" >
        #{tqq,jdbcType=VARCHAR},
      </if>
      <if test="tprofession != null" >
        #{tprofession,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.test.model.T_teacherExample" resultType="java.lang.Integer" >
    select count(*) from t_teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_teacher
    <set >
      <if test="record.tno != null" >
        tno = #{record.tno,jdbcType=VARCHAR},
      </if>
      <if test="record.tpsd != null" >
        tpsd = #{record.tpsd,jdbcType=VARCHAR},
      </if>
      <if test="record.tname != null" >
        tname = #{record.tname,jdbcType=VARCHAR},
      </if>
      <if test="record.tphone != null" >
        tphone = #{record.tphone,jdbcType=VARCHAR},
      </if>
      <if test="record.tqq != null" >
        tqq = #{record.tqq,jdbcType=VARCHAR},
      </if>
      <if test="record.tprofession != null" >
        tprofession = #{record.tprofession,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_teacher
    set tno = #{record.tno,jdbcType=VARCHAR},
      tpsd = #{record.tpsd,jdbcType=VARCHAR},
      tname = #{record.tname,jdbcType=VARCHAR},
      tphone = #{record.tphone,jdbcType=VARCHAR},
      tqq = #{record.tqq,jdbcType=VARCHAR},
      tprofession = #{record.tprofession,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.model.T_teacher" >
    update t_teacher
    <set >
      <if test="tpsd != null" >
        tpsd = #{tpsd,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tphone != null" >
        tphone = #{tphone,jdbcType=VARCHAR},
      </if>
      <if test="tqq != null" >
        tqq = #{tqq,jdbcType=VARCHAR},
      </if>
      <if test="tprofession != null" >
        tprofession = #{tprofession,jdbcType=VARCHAR},
      </if>
    </set>
    where tno = #{tno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.model.T_teacher" >
    update t_teacher
    set tpsd = #{tpsd,jdbcType=VARCHAR},
      tname = #{tname,jdbcType=VARCHAR},
      tphone = #{tphone,jdbcType=VARCHAR},
      tqq = #{tqq,jdbcType=VARCHAR},
      tprofession = #{tprofession,jdbcType=VARCHAR}
    where tno = #{tno,jdbcType=VARCHAR}
  </update>
</mapper>